__pycache__/
*.pyc

.venv/
venv/
env/

Backend/uploads/*
!Backend/uploads/.gitkeep

*.pt
*.pth
*.bin
*.safetensors

.env

.vscode/
.idea/

.DS_Store
Thumbs.db

datasets/images/
datasets/images_test/
Test_Images/

Backend/ai_verifier backup/
Backend/test_pizza.jpg

datasets/multimodal_train.tsv
